name: Base2 workflow

on:
  workflow_dispatch:
    inputs:
      run1:
        required: true
        default: 'ON'
      run2:
        required: true
        default: 'ON'

jobs:
  good-bye:
    name: Good Bye
    runs-on: ubuntu-latest

    steps:
      - name: Echo run user
        run: |
          echo ${{ github.actor }}
        shell: bash

      - name: verify actor
        uses: ./.github/actions/verify-actor
        with:
          actor: ${{ github.actor }}
          allowed-actors: ${{ secrets.ALLOWED_ACTORS }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Echo Good Bye
        run: echo 'Good Bye'; echo ${run1}
        shell: bash

      - name: Execute Run1
        if: ${{ github.event.inputs.run1 == 'ON' || github.event.inputs.run1 == 'on' }}
        run: echo 'Run1 !'
        shell: bash

      - name: Execute Run2
        if: ${{ github.event.inputs.run2 == 'ON' || github.event.inputs.run2 == 'on' }}
        run: echo 'Run2 !'
        shell: bash

