name: Base2 workflow

on: workflow_dispatch

jobs:
  good-bye:
    name: Good Bye
    runs-on: ubuntu-latest
    outputs:
      output-test: ${{ steps.define-output.outputs.test }}

    steps:
      - name: confirm env
        run: |
          which node
          node -v
          ip address
          
          curl https://ifconfig.me

      - name: Checkout code
        uses: actions/checkout@v2

      - name: run hello action
        uses: ./.github/actions/hello
        with:
          who-to-greet: 'GitHub Actions'

      - name: Echo Good Bye
        run: echo 'Good Bye'
        shell: bash

      - name: run sh script
        run: |
          ./.github/script/demo.sh
          ./.github/script/demo.sh Foo
      
      - name: Define output
        id: define-output
        run: echo "test=Foo Bar Baz" >> "$GITHUB_OUTPUT"

  confirm-outut:
    name: Confirm previous job's output
    runs-on: ubuntu-latest
    needs: good-bye
    steps:
      - name: Print prev job output
        run: |
          echo ${{ needs.good-bye.outputs.output-test }}
