name: docker-compose demo

on: workflow_dispatch

jobs:
  docker-compose-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'

      - name: build app
        run: |
          cd demo
          ls -l
          chmod +x ./gradlew
          ./gradlew build

      - name: build demo docker image
        run: |
          cd demo
          docker build -f Dockerfile -t local/demo .
          docker images

      - name: docker-compose up
        run: |
          docker-compose up -d

      - name: docker-compose ps
        run: |
          docker-compose ps

      - name: curl
        run: |
          #curl -v http://127.0.0.1:8080/actuator/health
          curl -v http://127.0.0.1:80

      - name: docker-compose down
        run: |
          docker-compose down
