name: Base workflow

on: workflow_dispatch

jobs:
  hello-world:
    name: Hello World
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Echo Hello World
        run: echo 'Hello World'
        shell: bash

  npm-test:
    name: NPM Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm --version
